<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="MPVMediaControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<userSettings>
    <MPVMediaControl.Properties.Settings>
        <setting name="PlayCommand" serializeAs="String">
            <value>set_property pause false</value>
        </setting>
        <setting name="PauseCommand" serializeAs="String">
            <value>set_property pause true</value>
        </setting>
        <setting name="PrevCommand" serializeAs="String">
            <value>playlist-prev weak</value>
        </setting>
        <setting name="NextCommand" serializeAs="String">
            <value>playlist-next weak</value>
        </setting>
    </MPVMediaControl.Properties.Settings>
  </userSettings>
</configuration>